 <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="{{absolute_url(asset('build/images/brand/favicon.ico'))}}" />

    <!-- TITLE -->
    <title>Sash – Bootstrap 5 Admin & Dashboard Template</title>

    <!-- BOOTSTRAP CSS -->
    <link id="style" href="{{absolute_url(asset('build/plugins/bootstrap/css/bootstrap.min.css'))}}" rel="stylesheet" />

    <!-- STYLE CSS -->
    {{ encore_entry_link_tags('app') }}